#ignore files created by emacs as transient backups
*#
#ignore backup files created by other editors
*~
Public
Desktop
Documents
Downloads
Videos
Music
Pictures
Softwares
Templates
workspace
src
netbeans*
examples.desktop

.tilda/
.ICEauthority
.VirtualBox/
.adobe/
.aptitude/
.bash_history
.bash_logout
.bash_profile
.bashrc
.bashrc~
.bzr.log
.cache/
.chmsee/
.compiz/
.config/
.dbus/
.dmrc
.eclipse/
.elinks/
.emacs.d/
.emacs~
.esd_auth
.eshell/
.evolution/
.fontconfig/
.gconf/
.gconfd/
.gegl-0.0/
.gem/
.gimp-2.6/
.gitconfig
.gitk
.gksu.lock
.gnome2/
.gnucash/
.google/
.gstreamer-0.10/
.gtk-bookmarks
.gtkrc-2.0-kde4
.ido.last
.ido.last~
.irb-history
.irb_history
.irssi/
.kde/cache-intellecap.net/
.kde/cache-ksinkar-intellecap
.kde/env/
.kde/share/apps/RecentDocuments/
.kde/share/apps/kabc/
.kde/share/apps/kate/metainfos
.kde/share/apps/kate/plugins/
.kde/share/apps/kate/sessions/usr/
.kde/share/apps/katepart/syntax/haml.xml~
.kde/share/apps/kconf_update/
.kde/share/apps/kfileplaces/
.kde/share/apps/klipper/
.kde/share/apps/konversation/bookmarks.xml.bak
.kde/share/apps/konversation/bookmarks.xml.tbcache
.kde/share/apps/konversation/konversationui.rc
.kde/share/apps/konversation/logs/
.kde/share/apps/korganizer/
.kde/share/apps/ktexteditor_exporter/
.kde/share/apps/kwallet/
.kde/share/apps/nepomuk/
.kde/share/apps/networkmanagement/
.kde/share/apps/nsplugins/
.kde/share/config/
.kde/share/kde4/
.kde/socket-intellecap.net
.kde/socket-ksinkar-intellecap
.kde/tmp-intellecap.net
.kde/tmp-ksinkar-intellecap
.lesshst
.local/
.macromedia/
.mission-control/
.mozilla/
.mysql_history
.mysqlgui/
.nbi/
.netbeans-registration/
.netbeans/
.openoffice.org/
.opera/
.pki/
.printer-groups.xml
.profile
.pulse-cookie
.pulse/
.rdebug_hist
.recently-used.xbel
.ruby_inline/
.rvm/
.src/
.ssh/
.subversion/
.sudo_as_admin_successful
.synaptic/
.teamviewer/
.thumbnails/
.tsclient/
.update-notifier/
.vim/
.viminfo
.xine/
.xsession-errors
.xsession-errors.old
logs/
